name: Tests

on:
  push:
    branches: [master, ci]
  pull_request:
    branches: [master]

jobs:
  unit-test:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install dependancies
      run: |
        sudo apt update
        sudo apt install -y cmake libboost-all-dev
    - name: make
      working-directory: ./test
      run: |
        mkdir build && cd build
        cmake ..
        make -j 4
        ctest -vv
  regression-test:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install dependancies
      run: |
        sudo apt update
        sudo apt install -y cmake libboost-all-dev gcc g++ libopenmpi-dev python3
    - name: make
      run: |
        sh containers/install.sh 4
    - name: regression test
      run: |
        cd test/regression
        python3 regression.py
