name: Tests

on:
  push:
    branches: [master, ci]

jobs:
  unit-test:
    runs-on: ubuntu-18.04
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true
    - name: Install dependancies
      run: |
        sudo apt update
        sudo apt install -y cmake
    - name: make
      working-directory: ./test
      run: |
        mkdir build && cd build
        cmake ..
        make -j 4
        ctest -vv
